name: Release
run-name: ${{ github.event.head_commit.message }}

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow_ref }}
  cancel-in-progress: false

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 8.15.9

      - uses: actions/setup-node@v4
        with:
          node-version: 20.18.1
          cache: pnpm

      - name: Install dependencies
        shell: bash
        run: |
          set -x
          pnpm -v
          pnpm install
          pwd
          ls -al

  build:
    name: Build
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Build
        shell: bash
        run: |
          pwd
          ls -al
          pnpm nx run next-auth:build
